<div>
  <span class="link_style">
    <%= link_to 'Show', @event, class: "btn waves-effect waves-light"  %>
    <%= link_to 'Back', events_path, class: "btn waves-effect waves-light"  %>
  </span>
  <h1>Editing Event</h1>
</div>

<%= render 'form' %>


<br>
<br>
