<% if @event_admin %>
    <%= link_to 'New Event', new_event_path, :class => "link_style"%>
<% end %>
<h1>Upcoming Events</h1>
<!--display calendar-->
<script>
  $( document ).ready(function()
    {$('#calendar').fullCalendar({
    events: '/events.json',
    header: {
      left: 'today prev,next',
      center: 'title',
      right: 'month,agendaWeek,agendaDay,list'
    },
    defaultView: 'agendaWeek',
    selectable: true,
    selectHelper: true,
    eventLimit: true,
    editable: true
    });
  });
</script>


<div id="calendar"></div>

<br>
<% if @upcoming_events.empty? %>
    <hr>
    <tr><td>More events coming!</td></tr>
<% else %>
    <%= render partial: "table", locals: {events: @upcoming_events}%>
<% end %>

<h1>Past Events</h1>
<% if @old_events.empty? %>
    <hr>
    <tr><td>No old events!</td></tr>
<% else %>
    <%= render partial: "table", locals: {events: @old_events}%>
<% end %>


<br>
<br>