<br />
<% if @core_member %>
  <%= link_to "Upload Resource", new_resource_path, class: "btn btn-primary", id: "upload" %>
<% end %>
<br />
<br />

<table class = "table table-bordered table-striped">
   <thead>
      <tr>
         <th>Title</th>
         <th>Download Link</th>
         <th> </th>
      </tr>
   </thead>
   
   <tbody>
   <% if @resources.nil? or @resources.empty? %>
       <tr><td>There are no resources uploaded currently.</tr></td>

   <% else %>
      <% @resources.each do |resource| %>
         
         <tr>
            <td><%= resource.title %></td>
            <td><%= link_to "Download Resource", resource, method: :get %></td>
            <% if @core_member %>
              <td><%= button_to "Delete", resource, method: :delete, confirm: "Are you sure that you wish to delete #{resource.title}?", class: "btn btn-danger" %></td>
            <%end%>
         </tr>
         
      <% end %>
   <%end%>
   </tbody>
   
</table>

<br>
<br>