/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require fullcalendar
 */



@import "materialize/components/color";
$beaver: #999999;
$bison-hide: #999999;
$coffee: #78644F;
$primary-color: $beaver !default;
$secondary-color: $bison-hide !default;
$error-color: #EED6D6;
$danger-color: #E83B3F;
$warning-color: #fff59d;
$success-color: #D8EECF;
$sidenav-font-size: 2em !default;
$sidenav-padding: 16px !default;
//$sidenav-item-height: 48px !default;
$sidenav-item-height: 2em !default;


@import 'materialize';
@import "materialize/extras/nouislider";

nav {
  @media only screen and (min-width: 0) {
    height: 9em;
  }

}

#title {
  position:absolute;
  left:40px;
  top:30px;
  width:290px;
  height:34px;
  font-family:'Baskerville-SemiBold', 'Baskerville SemiBold', 'Baskerville';
  font-weight:650;
  font-style:normal;
  font-size:30px;
  color: #666666;
}

#sub-title {
  position:absolute;
  left:40px;
  top:64px;
  width:302px;
  height:12px;
  font-family:'EngraversMT', 'Engravers MT';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color: #666666;
}

.navbar-non-link {
  padding: 0 15px;
}

.fixed{
  position: absolute;
  left: 0;
}

.nav-pages {
  position: absolute;
  right: 0;
  top:50px;
  height:26px;
  font-family:'BellMT', 'Bell MT';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}

.side-nav {
  width:500px;
}

html{
  line-height: 1.5;

  @media only screen and (min-width: 0) {
    font-size: 2em;
  }

  @media only screen and (min-width: $medium-screen) {
    font-size: 1em;
  }

  @media only screen and (min-width: $large-screen) {
    font-size: .8em;
  }
}
.alert {
  border-radius: 3px;
  padding: 1em;
  margin: 1em 0em 1em 0em;
}

.alert-success {
  background-color: $success-color;
  border-color: darken($success-color, 20%);
  color: darken($success-color, 50%);
}

.alert-notice {
  background-color: $warning-color;
  border-color: darken($warning-color, 20%);
  color: darken($warning-color, 50%);
}

.alert-error {
  background-color: $error-color;
  border-color: darken($error-color, 20%);
  color: darken($error-color, 50%);
}

.danger {
  background-color: $danger-color;
}

.social-media {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
  }

  li {
    display: inline;
  }

  li a {
    display: inline-block;
    text-align: center;
    padding: 3em;
    text-decoration: none;
  }

  i {
    color: $primary-color;
    font-size: 10em;
  }

  i:hover {
    color: $secondary-color;
    cursor: pointer;
  }
}

#wechatModal {
  .modal-content {
    text-align: center;
  }
  .modal-footer {
    text-align: right;
  }
}

.column-left{
  float: left; width: 33%;
  padding-bottom: 30px;
}

.column-right{
  float: right; width: 33%;
  padding-bottom: 30px;
}

.column-center{
  display: inline-block; width: 33%;
  padding-bottom: 30px;
}

#bottom-bar {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  height:40px;
  background-color: $secondary-color;
  color: white; text-align:center;
  line-height:40px;
}

#bottom-bar-text {
  display:inline-block;
  vertical-align:middle;
  line-height:normal;
}

.container{
  margin-top: 10px;
}

.vertical-center{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.column-left{ float: left; width: 35%; padding-left: 10%;margin-left: 0px;}
.column-right{ float: right; width: 35%; padding-left: 5%;}
.column-center{ display: inline-block; width: 30%; padding-left: 5%;}
.column-text{margin-left:50px; padding-right: 5px;}
#bottom-bar {position: fixed; z-index: 100; bottom: 0; left: 0; width: 100%; height:40px; background-color: $secondary-color; color: white; text-align:center; line-height:40px;}
#bottom-bar-text{display:inline-block; vertical-align:middle; line-height:normal;}
.column-container{margin-top: 10px;padding-left:0%; margin-left: 0px;margin-right:0px;}

#title-spirit {
  top:720px;
}

#title-left {
  position:absolute;
  left:372px;
  width:200px;
  height:1px;
}

#title-center {
  position:absolute;
  margin-top:-12px;
  left:582px;
  width:228px;
  height:20px;
  font-family:'CourierNewPS-BoldMT', 'Courier New Bold', 'Courier New';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#797979;
}

#title-right {
  position:absolute;
  left:820px;
  width:200px;
  height:1px;
}

.spirit-content{
  position:relative;
  width:50px;
  height:333px;
  float:left;
}

.spirit-subtitle {
  position:relative;
  top:196px;
  width:40px;
  height:114px;
}

#spirit {
  position:absolute;
  top:837px;
}

#spirit-left {
  position:relative;
  left:63px;
  float:left;
}

#spirit-center {
  position:relative;
  left:123px;
  float:left;
}

#spirit-right {
  position:relative;
  left:163px;
  float:left;
}

#spirit-title p {
  position:relative;
  font-family:'BellMT', 'Bell MT';
  font-weight:400;
  font-size:28px;
  left:791px;
  margin-top:-20px;
}

#spirit-title img {
  position:relative;
  left:783px;
  width:545px;
  height:93px;
}